.about {
  h1 {
    margin: 2rem 0;
    font-size: 2rem;
    color: #495e57;
    text-align: center;
  }

  .description {
    margin-bottom: 2rem;
    text-align: center;

    p {
      line-height: 1.75;
      font-size: 1.15rem;
      color: #333;

      @media screen and (max-width: 1015px) {
        padding: 0 3.5rem;
      }

      @media screen and (max-width: 690px) {
        padding: 0 0.25rem;
      }

      a {
        color: #495e57;
        text-decoration: underline;
        text-underline-offset: 0.3rem;

        &:hover {
          color: #f4ce14;
        }
      }
    }
  }

  .branch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;

    @media screen and (max-width: 980px) {
      justify-content: center;
      gap: 2rem;
      margin-bottom: 3rem;
    }

    @media screen and (max-width: 460px) {
      width: 95%;
      margin: 0 auto;
    }

    img {
      width: 28rem;
      height: 34rem;
      border-radius: 1.5rem;

      @media screen and (max-width: 460px) {
        width: 100%;
        height: auto;
      }
    }
  }

  @media screen and (max-width: 980px) {
    #reverse {
      flex-wrap: wrap-reverse;
    }
  }

  .content {
    width: 30rem;
    height: auto;
    max-height: 34rem;
    padding: 2rem;
    line-height: 1.5;
    font-size: 1.125rem;
    border: 2px solid #495e57;
    border-radius: 1.5rem;

    @media screen and (max-width: 690px) {
      padding: 2rem 1rem;
    }

    h2 {
      color: #495e57;
    }

    p {
      padding: 0.75rem 0;
    }

    .contact {
      .contact-item {
        margin: 0.5rem 0;
      }

      .icon {
        color: #495e57;
        font-size: 1.25rem;
        margin-right: 0.4rem;
        font-weight: 600;
      }

      span {
        font-size: 1.025rem;
      }
    }
  }

  .team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    @media screen and (max-width: 910px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
    }

    .member {
      border: 1px solid #333;
      border-radius: 1.5rem;
      cursor: pointer;
      width: 18rem;
      height: auto;
      min-height: 27rem;

      img {
        width: 18rem;
        height: 21rem;
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
      }

      h3 {
        padding: 1rem 1.5rem;
      }

      p {
        padding: 0 1.5rem;
        color: #495e57;
      }

      &:hover {
        border: 1px solid #495e57;
      }
    }
  }
}
