.form-input {
  background-color: #495e57;
  height: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .order-details {
    @media screen and (max-width: 690px) {
      margin-bottom: 1rem;
    }

    .prev-data {
      display: flex;
      justify-content: center;
      gap: 2rem;

      @media screen and (max-width: 690px) {
        gap: 0;
      }

      .data {
        width: 20rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        @media screen and (max-width: 690px) {
          width: 10rem;
        }

        svg {
          color: #fff;
          font-size: 1.5rem;
          margin-right: 1rem;
        }

        p {
          color: #fff;
        }
      }
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0 0.5rem;
    gap: 2rem;

    @media screen and (max-width: 690px) {
      gap: 0;
      margin: 0;
    }
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    .label {
      font-size: 1.25rem;
      color: #fff;
      margin-bottom: 1rem;
    }

    .error {
      color: #f79327;
      padding: 0.5rem 0;
    }
  }
}

.action {
  height: auto;
  padding: 2rem 0;

  @media screen and (max-width: 690px) {
    background-color: #495e57;
    padding: 0.5rem 0 2rem;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .images {
      display: flex;
      justify-content: center;
      gap: 2rem;

      @media screen and (max-width: 690px) {
        display: none;
      }

      img {
        border-radius: 1.5rem;
      }
    }
  }

  .act {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
