@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

main {
  font-family: "Karla", sans-serif;
  color: #333333;

  section {
    width: 70%;
    height: auto;
    margin: 0 auto 2rem;
  }
}

.center {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  line-height: 2;
}

@media screen and (max-width: 1420px) {
  main {
    section {
      width: 75%;
    }
  }
}

@media screen and (max-width: 1240px) {
  main {
    section {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1140px) {
  main {
    section {
      width: 85%;
    }
  }
}

@media screen and (max-width: 1075px) {
  main {
    section {
      width: 90%;
    }
  }
}

@media screen and (max-width: 1015px) {
  main {
    section {
      width: 95%;
    }
  }
}

/* Form Submission Status components Styles*/
.booking {
  background-color: #fff;
  margin-top: 2rem;
  padding: 2rem 1rem;
  border: 1px solid #495e57;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    color: #333;
    padding-bottom: 1rem;
  }

  p {
    color: #495e57;
    line-height: 1.75;
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-start;
  }

  .refresh,
  a {
    cursor: pointer;
    color: #495e57;
    text-decoration: underline;
    text-underline-offset: 0.3rem;

    &:hover {
      color: #f4ce14;
    }
  }

  .action {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
  }
}
