.filtermeals {
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    color: #495e57;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  p {
    color: #495e57;
    margin: 1rem 0;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: center;
  }

  .nav {
    border-bottom: 1px solid #d4d6d5;

    ul {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
      padding: 1.5rem 0 2.5rem;
      overflow: auto;
      white-space: nowrap;

      li {
        button {
          padding: 0.5rem 1.5rem;
          color: #495e57;
          font-size: 1rem;
          border: 1px solid #495e57;
          border-radius: 6rem;
          background-color: transparent;
          cursor: pointer;

          &:hover,
          &:active,
          &.active {
            color: #333;
            background-color: #f4ce14;
            border: none;
          }
        }
      }
    }
  }
}
