.order {
  padding: 0 2rem 2rem;
  height: auto;

  @media screen and (max-width: 690px) {
    padding: 0 1rem 2rem;
  }

  .amount {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    label {
      font-weight: 600;
    }
  }

  .act {
    margin-top: 1rem;
  }
}
